<div class="matches-title">
    <div class="title-text">Matched Users</div>
</div>
<div class="matches">
    <% @users.each do |user| %>
      <div class="user-list-wrapper">
        <div class="avatar"></div>
        <div class="username"><%= user.name %></div>
        <div><%= link_to "Send Message", "#", class: "start-chat-btn", "data-sid" => current_user.id, "data-rip" => user.id %>
        </div>
        <div class="clear"></div>
      </div>
    <% end %>
</div>