<div class="matches-title">
    <div class="title-text">Matched Users</div>
</div>
<div class="matches">
  <% @users.each do |user| %>
    <div class="user-list-wrapper">
      <div class="avatar"></div>
      <div class="username"><%= user.name %></div>
      <div><%= link_to "Send Message", conversations_path(recipient_id: user.id), method: :post, class: "start-chat-btn" %></div>
      <div class="clear"></div>
    </div>
  <% end %>
</div>