<div class="dashboard">
    <div class="matches-title">
        <div class="title-text">Matched Users</div>
    </div>
    <div class="matches">
    <% @users.each do |user| %>
      <div class="user-list-wrapper">
        <div class="avatar"></div>
        <div class="username"><%= user.name %></div>
        <div><%= link_to "Send Message", "#", class: "start-chat-btn", "data-sid" => current_user.id, "data-rip" => user.id %>
        </div>
        <div class="clear"></div>
      </div>
    <% end %>
    </div>
    <div class="previous-chats-title">
        <div class="title-text">Previous Chats</div>
    </div>
    <div class="chatlist">
      <% if @conversations.any? %>
        <div class="user-list-wrapper">
          <% @conversations.each do |conversation| %>
            <div class="avatar"></div>
            <div class="username"><%= conversation_interlocutor(conversation).name %></div>
            <div><%= link_to "Open Chat", conversation_path(conversation), remote: true, class: "start-chat-btn", "data-cid" => conversation.id %>
            </div>
            <div class="clear"></div>
        </div>
      <% end %>
      <% else %>
          <p>You have no conversations. Click send message with any user to create one.</p>
      <% end %>
    </div>
</div>