<div class="hero-module">
    <div class="hero-text-wrapper">
        <h1>Language exchanges <br>made easy.</h1>
        <p>Squillo is a tool for those who are hungry to learn new languages. Instantly connect with native speakers across the globe and chat in real-time.</p>
    </div>
</div>
<div id="info-section">
    <div class="down"><a href="/#info-section"><i class="fa fa-chevron-circle-down fa-4x"></a></i></div>
    <h1>Get Started in 3 Easy Steps:</h1>
    <div class="box-container">
        <div class="info-box">
            <div class="icon"><i class="fa fa-pencil-square-o fa-5x"></i></div>
            <h3>Sign Up</h3>
            <p>Create an account <a href="/users/sign_up">here</a> with just your name, email, and password.</p>
        </div>
        <div class="info-box">
            <div class="icon"><i class="fa fa-globe fa-5x"></i></div>
            <h3>Set your language preferences</h3>
            <p>Choose the language(s) that you speak at a native level as well as the languages you'd like to practice.
        </div>
        <div class="info-box">
            <div class="icon"><i class="fa fa-users fa-5x"></i></div>
            <h3>Connect with your matches</h3>
            <p>On your dashboard click the "Send Message" button next to any matched user to start chatting instantly. That's it!</p>
        </div>
    </div>
</div>
<div class="footer">
    <p>&copy;2016 Squillo</p>
</div>
<%= render "sign_up_modal" %>
<%= render "sign_in_modal" %>